<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="httpBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings />
    <services>
      <service behaviorConfiguration="httpBehavior" name="FSE.Assignment22.Service.Core.WeatherService">
        <endpoint address="WeatherService" binding="basicHttpBinding"
            bindingConfiguration="" name="httpService" contract="FSE.Assignment22.Service.Core.IWeatherService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:6000/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>