<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="Assignment22" connectionString="Data Source=DOTNET;Initial Catalog=Assignment22;Integrated Security=True"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="httpBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings />

    <services>
      <service behaviorConfiguration="httpBehavior" name="FSE.Assignment22.Service.Core.EmployeeService">
        <endpoint address="EmployeeService" binding="basicHttpBinding"
           contract="FSE.Assignment22.Service.Core.IEmployeeService" />
        <endpoint address="mex"
              binding="mexHttpBinding"
              contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7000/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>

